<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="doc">
        <dir
          name="samplereport">
          <dir
            name="css"/>
        </dir>
      </dir>
      <dir
        name="eclipse-projects">
        <dir
          name="beust.com">
          <dir
            name="web"/>
        </dir>
        <dir
          name="org.testng.eclipse"/>
      </dir>
      <dir
        name="examples">
        <dir
          name="src">
          <dir
            name="example1"/>
          <dir
            name="priority"/>
        </dir>
      </dir>
      <dir
        name="gigaspaces">
        <dir
          name="src">
          <dir
            name="org">
            <dir
              name="testng">
              <dir
                name="gigaspaces"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="test">
          <dir
            name="src">
            <dir
              name="test">
              <dir
                name="gigaspaces"/>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="maven"/>
      <dir
        name="old"/>
      <dir
        name="sandbox">
        <dir
          name="src">
          <dir
            name="org">
            <dir
              name="testng">
              <dir
                name="internal">
                <dir
                  name="mix"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="test">
          <dir
            name="org">
            <dir
              name="testng">
              <dir
                name="internal">
                <dir
                  name="mix"/>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="spring">
        <dir
          name="src">
          <dir
            name="common">
            <dir
              name="org">
              <dir
                name="testng">
                <dir
                  name="spring">
                  <dir
                    name="test"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jdk14">
            <dir
              name="org">
              <dir
                name="testng">
                <dir
                  name="spring">
                  <dir
                    name="test"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jdk15">
            <dir
              name="org">
              <dir
                name="testng">
                <dir
                  name="spring">
                  <dir
                    name="test"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="src">
        <dir
          name="main">
          <dir
            name="java">
            <dir
              name="com">
              <dir
                name="beust">
                <dir
                  name="testng"/>
              </dir>
            </dir>
            <dir
              name="org">
              <dir
                name="testng">
                <dir
                  name="annotations"/>
                <dir
                  name="collections"/>
                <dir
                  name="internal">
                  <dir
                    name="annotations"/>
                  <dir
                    name="remote"/>
                  <dir
                    name="thread"/>
                  <dir
                    name="version"/>
                </dir>
                <dir
                  name="junit"/>
                <dir
                  name="log"/>
                <dir
                  name="log4testng"/>
                <dir
                  name="remote">
                  <dir
                    name="adapter"/>
                  <dir
                    name="strprotocol"/>
                </dir>
                <dir
                  name="reporters">
                  <dir
                    name="util"/>
                </dir>
                <dir
                  name="util"/>
                <dir
                  name="xml"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="resources"/>
        </dir>
        <dir
          name="test">
          <dir
            name="java">
            <dir
              name="org">
              <dir
                name="testng">
                <dir
                  name="internal">
                  <dir
                    name="conflistener"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="abstractconfmethod">
                <dir
                  name="foo"/>
              </dir>
              <dir
                name="access"/>
              <dir
                name="alwaysrun"/>
              <dir
                name="annotationtransformer"/>
              <dir
                name="ant"/>
              <dir
                name="asserttests"/>
              <dir
                name="attributes"/>
              <dir
                name="classgroup"/>
              <dir
                name="conffailure"/>
              <dir
                name="configuration"/>
              <dir
                name="configurationfailurepolicy"/>
              <dir
                name="convert"/>
              <dir
                name="converter"/>
              <dir
                name="cyclic"/>
              <dir
                name="dataprovider"/>
              <dir
                name="dependent">
                <dir
                  name="functionality1"/>
              </dir>
              <dir
                name="dependsongroup"/>
              <dir
                name="distributed"/>
              <dir
                name="expectedexceptions"/>
              <dir
                name="factory">
                <dir
                  name="classconf"/>
              </dir>
              <dir
                name="failedreporter"/>
              <dir
                name="failures"/>
              <dir
                name="groupinvocation"/>
              <dir
                name="hook"/>
              <dir
                name="inheritance"/>
              <dir
                name="inject"/>
              <dir
                name="interleavedorder"/>
              <dir
                name="invocationcount"/>
              <dir
                name="invokedmethodlistener"/>
              <dir
                name="issue78"/>
              <dir
                name="jar"/>
              <dir
                name="jarpackages">
                <dir
                  name="tests"/>
              </dir>
              <dir
                name="junit">
                <dir
                  name="testsetup"/>
              </dir>
              <dir
                name="justin"/>
              <dir
                name="listeners"/>
              <dir
                name="mannotation"/>
              <dir
                name="methodinterceptors"/>
              <dir
                name="methods"/>
              <dir
                name="methodselectors"/>
              <dir
                name="morten"/>
              <dir
                name="multiple"/>
              <dir
                name="nested">
                <dir
                  name="foo"/>
              </dir>
              <dir
                name="objectfactory"/>
              <dir
                name="parameters"/>
              <dir
                name="pholser"/>
              <dir
                name="pkg"/>
              <dir
                name="pkg2"/>
              <dir
                name="preserveorder"/>
              <dir
                name="priority"/>
              <dir
                name="privatemethod"/>
              <dir
                name="regression">
                <dir
                  name="groupsordering"/>
              </dir>
              <dir
                name="reports"/>
              <dir
                name="retryAnalyzer"/>
              <dir
                name="sample"/>
              <dir
                name="simple"/>
              <dir
                name="skipex"/>
              <dir
                name="superclass"/>
              <dir
                name="testng106"/>
              <dir
                name="testng109"/>
              <dir
                name="testng195"/>
              <dir
                name="testng249"/>
              <dir
                name="testng285"/>
              <dir
                name="testng317"/>
              <dir
                name="testng37"/>
              <dir
                name="testng387"/>
              <dir
                name="testng56"/>
              <dir
                name="testng59"/>
              <dir
                name="testng93"/>
              <dir
                name="thread"/>
              <dir
                name="timeout"/>
              <dir
                name="tmp">
                <dir
                  name="p1"/>
                <dir
                  name="p2"/>
                <dir
                  name="verify"/>
              </dir>
              <dir
                name="triangle"/>
              <dir
                name="uniquesuite"/>
              <dir
                name="v6"/>
              <dir
                name="verify"/>
              <dir
                name="xml"/>
            </dir>
            <dir
              name="testhelper"/>
          </dir>
          <dir
            name="resources"/>
        </dir>
      </dir>
      <dir
        name="www"/>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Web"/>
    <language_options
      useLanguagesAsFilter="true"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <codecheck_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    use_spring="false"
    version="Java5"/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    output_file="./testng-testng-5.13.csv"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"
    add_uniquename_column="false"
    metric_filter="28532">
    <metric
      name="CountLineCode"/>
    <metric
      name="MaxCyclomatic"/>
    <metric
      name="CountClassBase"/>
    <metric
      name="CountClassCoupled"/>
    <metric
      name="CountClassDerived"/>
    <metric
      name="CountDeclMethodAll"/>
    <metric
      name="CountDeclInstanceMethod"/>
    <metric
      name="MaxInheritanceTree"/>
    <metric
      name="CountDeclMethod"/>
    <metric
      name="CountDeclInstanceVariable"/>
    <metric
      name="PercentLackOfCohesion"/>
  </metrics>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="8.3"/>
</project>
