<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="testng-6.13.1">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="beust">
                  <dir
                    name="testng"/>
                </dir>
              </dir>
              <dir
                name="org">
                <dir
                  name="testng">
                  <dir
                    name="annotations"/>
                  <dir
                    name="asserts"/>
                  <dir
                    name="collections"/>
                  <dir
                    name="internal">
                    <dir
                      name="annotations"/>
                    <dir
                      name="collections"/>
                    <dir
                      name="invokers"/>
                    <dir
                      name="junit"/>
                    <dir
                      name="reflect"/>
                    <dir
                      name="thread">
                      <dir
                        name="graph"/>
                    </dir>
                  </dir>
                  <dir
                    name="junit"/>
                  <dir
                    name="log"/>
                  <dir
                    name="log4testng"/>
                  <dir
                    name="mustache"/>
                  <dir
                    name="reporters">
                    <dir
                      name="jq"/>
                    <dir
                      name="util"/>
                  </dir>
                  <dir
                    name="util"/>
                  <dir
                    name="xml">
                    <dir
                      name="dom"/>
                    <dir
                      name="internal"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources">
              <dir
                name="org">
                <dir
                  name="testng"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="testng">
                  <dir
                    name="internal">
                    <dir
                      name="conflistener"/>
                    <dir
                      name="dynamicgraph"/>
                    <dir
                      name="invokers"/>
                    <dir
                      name="issue1339"/>
                    <dir
                      name="issue1456"/>
                    <dir
                      name="listeners"/>
                    <dir
                      name="paramhandler"/>
                  </dir>
                  <dir
                    name="xml">
                    <dir
                      name="internal"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="abstractconfmethod">
                  <dir
                    name="foo"/>
                </dir>
                <dir
                  name="abstractmethods"/>
                <dir
                  name="access"/>
                <dir
                  name="alwaysrun"/>
                <dir
                  name="annotationtransformer"/>
                <dir
                  name="ant"/>
                <dir
                  name="assertion"/>
                <dir
                  name="asserttests"/>
                <dir
                  name="attributes"/>
                <dir
                  name="bug90"/>
                <dir
                  name="bug92"/>
                <dir
                  name="classgroup"/>
                <dir
                  name="cli">
                  <dir
                    name="github1517"/>
                </dir>
                <dir
                  name="commandline"/>
                <dir
                  name="conffailure">
                  <dir
                    name="github990"/>
                </dir>
                <dir
                  name="configuration">
                  <dir
                    name="github1338"/>
                </dir>
                <dir
                  name="configurationfailurepolicy"/>
                <dir
                  name="converter"/>
                <dir
                  name="cyclic"/>
                <dir
                  name="dataprovider">
                  <dir
                    name="issue128"/>
                </dir>
                <dir
                  name="dependent">
                  <dir
                    name="functionality1"/>
                  <dir
                    name="github1156"/>
                  <dir
                    name="github1380"/>
                  <dir
                    name="xml"/>
                </dir>
                <dir
                  name="dependsongroup"/>
                <dir
                  name="enable"/>
                <dir
                  name="expectedexceptions">
                  <dir
                    name="github1409"/>
                </dir>
                <dir
                  name="factory">
                  <dir
                    name="classconf"/>
                  <dir
                    name="github1083"/>
                  <dir
                    name="github1131"/>
                  <dir
                    name="github328"/>
                  <dir
                    name="nested"/>
                </dir>
                <dir
                  name="failedreporter">
                  <dir
                    name="issue1297">
                    <dir
                      name="groups"/>
                    <dir
                      name="inheritance"/>
                    <dir
                      name="straightforward"/>
                  </dir>
                </dir>
                <dir
                  name="failures"/>
                <dir
                  name="github1336"/>
                <dir
                  name="github1362"/>
                <dir
                  name="github1405"/>
                <dir
                  name="github1417"/>
                <dir
                  name="github1461"/>
                <dir
                  name="github1490"/>
                <dir
                  name="github765"/>
                <dir
                  name="github799"/>
                <dir
                  name="groupbug"/>
                <dir
                  name="groupinvocation"/>
                <dir
                  name="guice"/>
                <dir
                  name="hook"/>
                <dir
                  name="ignore">
                  <dir
                    name="ignorePackage">
                    <dir
                      name="subPackage"/>
                  </dir>
                </dir>
                <dir
                  name="inheritance">
                  <dir
                    name="github949"/>
                  <dir
                    name="github980"/>
                  <dir
                    name="testng234"/>
                  <dir
                    name="testng471"/>
                  <dir
                    name="testng739"/>
                </dir>
                <dir
                  name="inject"/>
                <dir
                  name="interleavedorder"/>
                <dir
                  name="invocationcount"/>
                <dir
                  name="invokedmethodlistener"/>
                <dir
                  name="issue107"/>
                <dir
                  name="issue1430"/>
                <dir
                  name="issue565">
                  <dir
                    name="deadlock"/>
                </dir>
                <dir
                  name="jarpackages">
                  <dir
                    name="tests"/>
                </dir>
                <dir
                  name="jason"/>
                <dir
                  name="junit">
                  <dir
                    name="testsetup"/>
                </dir>
                <dir
                  name="junit4">
                  <dir
                    name="listeners"/>
                </dir>
                <dir
                  name="junitreports"/>
                <dir
                  name="justin"/>
                <dir
                  name="listeners">
                  <dir
                    name="github1029"/>
                  <dir
                    name="github1130"/>
                  <dir
                    name="github1284"/>
                  <dir
                    name="github1296"/>
                  <dir
                    name="github1319"/>
                  <dir
                    name="github1393"/>
                  <dir
                    name="github1465"/>
                  <dir
                    name="github1490"/>
                  <dir
                    name="github551"/>
                  <dir
                    name="github956"/>
                </dir>
                <dir
                  name="mannotation"/>
                <dir
                  name="methodinterceptors">
                  <dir
                    name="multipleinterceptors"/>
                </dir>
                <dir
                  name="methods"/>
                <dir
                  name="methodselection"/>
                <dir
                  name="methodselectors"/>
                <dir
                  name="mixed"/>
                <dir
                  name="morten"/>
                <dir
                  name="multiple"/>
                <dir
                  name="multiplelisteners"/>
                <dir
                  name="mustache"/>
                <dir
                  name="name">
                  <dir
                    name="github1046"/>
                </dir>
                <dir
                  name="nested">
                  <dir
                    name="foo"/>
                </dir>
                <dir
                  name="nested2"/>
                <dir
                  name="objectfactory">
                  <dir
                    name="github1131"/>
                </dir>
                <dir
                  name="order">
                  <dir
                    name="github288"/>
                </dir>
                <dir
                  name="override"/>
                <dir
                  name="parameters"/>
                <dir
                  name="pholser"/>
                <dir
                  name="pkg"/>
                <dir
                  name="pkg2"/>
                <dir
                  name="preserveorder"/>
                <dir
                  name="priority"/>
                <dir
                  name="privatemethod"/>
                <dir
                  name="reflect"/>
                <dir
                  name="regression">
                  <dir
                    name="groupsordering"/>
                </dir>
                <dir
                  name="reports"/>
                <dir
                  name="retryAnalyzer">
                  <dir
                    name="dataprovider"/>
                  <dir
                    name="github1519"/>
                  <dir
                    name="github1600"/>
                </dir>
                <dir
                  name="sample"/>
                <dir
                  name="sanitycheck"/>
                <dir
                  name="serviceloader"/>
                <dir
                  name="simple"/>
                <dir
                  name="skipex"/>
                <dir
                  name="suites">
                  <dir
                    name="github1533"/>
                </dir>
                <dir
                  name="superclass"/>
                <dir
                  name="test111"/>
                <dir
                  name="testnames"/>
                <dir
                  name="testng106"/>
                <dir
                  name="testng109"/>
                <dir
                  name="testng1231"/>
                <dir
                  name="testng1232"/>
                <dir
                  name="testng1396"/>
                <dir
                  name="testng173">
                  <dir
                    name="anotherpackage"/>
                </dir>
                <dir
                  name="testng195"/>
                <dir
                  name="testng249"/>
                <dir
                  name="testng285"/>
                <dir
                  name="testng317"/>
                <dir
                  name="testng37"/>
                <dir
                  name="testng387"/>
                <dir
                  name="testng56"/>
                <dir
                  name="testng59"/>
                <dir
                  name="testng674"/>
                <dir
                  name="testng93"/>
                <dir
                  name="thread">
                  <dir
                    name="parallelization">
                    <dir
                      name="sample"/>
                  </dir>
                </dir>
                <dir
                  name="timeout">
                  <dir
                    name="github1493"/>
                </dir>
                <dir
                  name="tmp">
                  <dir
                    name="b"/>
                  <dir
                    name="p1"/>
                  <dir
                    name="p2"/>
                  <dir
                    name="verify"/>
                </dir>
                <dir
                  name="triangle"/>
                <dir
                  name="uniquesuite"/>
                <dir
                  name="v6"/>
                <dir
                  name="verify"/>
                <dir
                  name="xml"/>
                <dir
                  name="yaml"/>
              </dir>
              <dir
                name="test_result"/>
              <dir
                name="testhelper"/>
            </dir>
            <dir
              name="java8">
              <dir
                name="test">
                <dir
                  name="defaultmethods"/>
              </dir>
            </dir>
            <dir
              name="resources">
              <dir
                name="checksuitesinitialization">
                <dir
                  name="children">
                  <dir
                    name="morechildren"/>
                </dir>
              </dir>
              <dir
                name="executionlistenersingletoncheck"/>
              <dir
                name="groupinvocation"/>
              <dir
                name="methodinterceptors">
                <dir
                  name="multipleinterceptors"/>
              </dir>
              <dir
                name="parallel-suites"/>
              <dir
                name="param-inheritance"/>
              <dir
                name="parametertest"/>
              <dir
                name="sanitycheck"/>
              <dir
                name="test">
                <dir
                  name="listeners">
                  <dir
                    name="github1284"/>
                </dir>
              </dir>
              <dir
                name="testnames"/>
              <dir
                name="xml">
                <dir
                  name="github1533"/>
              </dir>
              <dir
                name="yaml"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Web"/>
    <language_options
      useLanguagesAsFilter="true"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <codecheck_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    use_spring="false"
    version="Java5"/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    output_file="./testng-6.13.1.csv"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"
    add_uniquename_column="false"
    metric_filter="28532">
    <metric
      name="CountLineCode"/>
    <metric
      name="MaxCyclomatic"/>
    <metric
      name="CountClassBase"/>
    <metric
      name="CountClassCoupled"/>
    <metric
      name="CountClassDerived"/>
    <metric
      name="CountDeclMethodAll"/>
    <metric
      name="CountDeclInstanceMethod"/>
    <metric
      name="MaxInheritanceTree"/>
    <metric
      name="CountDeclMethod"/>
    <metric
      name="CountDeclInstanceVariable"/>
    <metric
      name="PercentLackOfCohesion"/>
  </metrics>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="8.3"/>
</project>
